*{
  
  margin: 0%;
}
.nav{
	margin-top: 3%;
}
.nav a{
	padding: 1%;
	text-align: center;
	text-decoration: none;
	color: black;
	font-size: 20px;


}
.nav img{
	vertical-align: middle;


}
.login{
	margin-left: 10%;
}
#sing1{
	background-color: #00baf2;
	color: white;
	border-radius: 20px;
	padding: 0.4% 0.8%;
	margin-left: 7%;
}
.text{
	text-align: center;
	background-color: whitesmoke;
	border-width: 5%;
	padding: 0.8%;
	margin-top: 2%;
}
.most{
	text-align: left;
	background-color: white;
	border-width: 1%;
	padding: 0.5%;
	font-size: 25px;
}
.img1{
	margin-left:2%;
}
.India{
	font-size:55px;
	margin: 1% 2% 3% 4%;
}
.Recharge{
	font-size: 25px;
	margin:0% 0% 7%  6%;
}
.img2{
	
}
.sec1{
	display: flex;
	justify-content: space-evenly;
	padding:5% 0% 7% 8%;

}




